name: Publish LinuxSSH

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
      - uses: gradle/actions/setup-gradle@v4

      - name: Build & Remap
        run: ./gradlew remapJar

      - name: Build Jar
        run: ./gradlew build

      - name: Publish to GitHub
        run: ./gradlew githubRelease
        env:
          RELEASE_TOKEN: ${{ secrets.RELEASE_TOKEN }}
